/* GENERAL */

body{
	background-image: url(../img/swirl.png);
}

/* HEADER */

header{
	padding: 1rem;
	background-color: #b40036;
}	

/* GENERAL MAIN CONTENT */

main{
	margin: 2rem;
	padding: 2rem;
	overflow: hidden;
	background-color: white;
}

@media screen and (min-width: 50em){
	main{
		margin-top: 0;
		margin-bottom: 6rem;
		margin-left: 6rem;
		margin-right: 6rem;
		padding: 6rem;
	}

}

h1{
	text-align: center;
	font-family: 'Merienda One';
	font-weight: 400;
	font-size: 3.25rem;
	text-transform: ;
	color: white;
	letter-spacing: .25px;
	margin-top: 2rem;
	margin-bottom: .5rem;
}

h2{
	text-align: left;
	font-family: 'Garamond', Serif;
	font-weight: 500;
	text-transform: uppercase;
	color: #b40036;
	letter-spacing: 1.25px;
	margin-top: 0;
	margin-bottom: .5rem;
}

h3{
	text-align: left;
	font-family: 'Open-Sans', Sans-serif;
	font-weight: 300;
	color: ;
	letter-spacing: ;
	margin-top: .5rem;
	margin-bottom: .5rem;
}

h4{
	text-align: center;
	font-family: 'Open-Sans', sans-serif;
	font-weight: 300;
	font-size: 1rem;
	font-style: ;
	text-transform: uppercase;
	color: ;
	letter-spacing: 2px;
	margin-top: .75rem;
	margin-bottom: 2rem;
}

main ul{
	text-align: left;
	font-family: 'Open-Sans', sans-serif;
	font-weight: 300;
	font-size: ;
	line-height: 2rem;
	color: #19191a;
	margin-bottom: 2rem;
}

main ol{
	text-align: left;
	font-family: 'Open-Sans', sans-serif;
	font-weight: 300;
	font-size: ;
	line-height: 2rem;
	color: #19191a;
}

p{
	text-align: left;
	font-family: 'Open-Sans', sans-serif;
	font-weight: 300;
	font-size: ;
	line-height: 2rem;
	color: #19191a;
}


/* COLUMNS */

.top,.mid,.bottom{
	overflow: hidden;
}

.picture img{
	width: 100%;
	margin-bottom: 2rem;
}


@media screen and (min-width: 50em){
	.picture,.overview,.ingredient{
		width: 45%;
		margin-right: 5%;
		float: left;
	}
}
	

.Preparation{
	width: 100%;
	overflow: hidden;
}

/* FOOTER */

footer{
	background-color: #b40036;
	padding: 2rem;
}

footer p{
	text-align: center;
	font-family: 'Open-Sans', Sans-serif;
	font-weight: 300;
	color: white;
	letter-spacing: ;
}

footer a{
	color: white;
}



